@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

*{
  padding: 0;
margin: 0;
box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
  background: rgb(28,0,61);
background: linear-gradient(90deg, rgba(28,0,61,1) 0%, rgba(23,0,53,1) 50%)
}

.mtrans{
  /* transform: translate(-50%, -50%); */
}
